= simple_form_for volunteer do |f|
  -if volunteer.errors.any?
    #error_explanation
      %h2= "#{pluralize(volunteer.errors.count, "error")} prohibited this volunteer from being saved:"
      %ul
        - volunteer.errors.full_messages.each do |msg|
          %li= msg
  .span3
    =f.input  :first_name, label: 'First Name'
  .span3
    =f.input  :last_name, label: 'Last Name'
  .span4
    =f.input  :email, label: 'Email'
  .span3
    =f.input  :phone, label: 'Phone'
  .span3
    =f.input  :street,label: 'Street'
  .span3
    =f.input :city,   label: 'City'
  .span3
    =f.input :state,  label: 'State', input_html: { class: 'span2' }, placeholder: 'North Carolina'
  .span3
    =f.input :zip,    label: 'Zip', input_html: {class: 'span2'}
  .span4
    =f.input :group,  label: 'Group', collection: [:Monday, :Tuesday, :Wednesday, :Thursday, :Friday]
  .span6
    =f.input :status, label: 'Status', collection: [:Active, :In_Active], selected: 'Active'
  .span3
    =f.button :submit, class: 'btn btn-primary', label: 'Save'
  %br
