
.panel
  %header
    %h1
      %i.icon-food.icon-large
      &nbsp&nbsp&nbspOpen Visits
  .content
    #check_table
      %table.table.table-striped
        %thead
          %tr
            %th Household
            %th Neighbor
        %tbody
        - @visits = Visit.open
        - @visits.each do |visit|
        - @visit = visit
        - @household = visit.household
          %tr
            %td= link_to visit.show_household, household_path(visit.household_id)
            - if visit.neighbor_id
              %td= visit.show_neighbor
            %td
              = link_to 'Destroy', visit, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
              = link_to 'Checkout', visit_checkout_path(@visit), class: 'btn btn-large btn-success'
