.panel
  %header
    %h1 Edit customer
  .content
    = render 'form'






/ .panel
/   %header
/     %h1 Editing customer
/   .content
/     = render 'form'
/     = link_to 'Show', @customer
/     = link_to 'Back', customers_path
