development:
  adapter: sqlite3
  encoding: unicode
  database: db/food-pantry_development.db

test: &test
  adapter: sqlite3
  encoding: unicode
  database: db/food-pantry_test.db

production:
  adapter: sqlite3
  encoding: unicode
  database: db/food-pantry_production.db

cucumber:
  <<: *test
