<p id="notice"><%= notice %></p>

<header>
  <h1>Neighbor Information</h1>

</header>

<div id="content">
  <%= render 'form'%>
</div>


<%= link_to 'Edit', edit_neighbor_path(@neighbor) %> |
<%= link_to 'Back', neighbors_path %>

