@import "bourbon";
@import "font-awesome";


$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$sansFontFamily: $lucida-grande;
$baseFontSize: 13px;

$navbarBackground: rgba(255,255,255,0.0);
$navbarBackgroundHighlight: rgba(255,255,255,0.0);
$navbarHeight: 80px;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarText: #3C566D;
$navbarFontSize: 1.25em;
$navbarHover: #faa630;
$navbarBrandColor: $navbarText;
$navbarLinkColor: $navbarText;
$navbarLinkColorHover: $navbarHover;
$navbarLinkBackgroundHover: rgba(255,255,255,0.5);
$bodyBackground: rgba(1,1,1,0.0);

$btnPrimaryBackground: #A4B8CA;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 10%);
@import "bootstrap";
@import "bootstrap-responsive";
@import "navbar";
@import "redmond/jquery-ui-1.10.1.custom";

@media (min-width: 980px) {
}

.container.forms {

  margin-top:20px;
}

.alert {
  margin-left: 320px;
  width: 650px;
}

.panel {
  background-color: white;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  @include border-radius(3px);
  @include box-shadow(0 1px 4px 1px hsla(0, 0%, 0%, 0.4));
  
  .content {
    padding: 2em;
  }
  
  header {
    background-color: rgba(228,228,228,0.7);
    padding: 1em;
    border-bottom: 1px solid #D6D6D6;
  }

}


#weight {
  width: 20%;
  margin: 0px auto;
  select {
    font-size:  20px;
    height: 30px;
  }
  input {
    border:  8px;
    border-color: red;
    margin:  0px auto;
    text-align: center;
    background-color: black;
    font-size: 50px;
    color: #ffff00;
    height:  60px;
  }
  input.btn {
  color: red;
  font-size: 25px;
  }
}


#weighin {
  border:  8px;
  border-color: red;
  margin:  0px auto;
  text-align: center;
  font-size: 50px;
  color: #ffff00;
  background-color: black;
  height:  60px;
}

tr.volunteer {
  font-size:  150%;
}
.btn {
  @include border-radius(3px);
}




