@import "bourbon";

$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$sansFontFamily: $lucida-grande;
$baseFontSize: 11px;

$navbarBackground: rgba(255,255,255,0.0);
$navbarBackgroundHighlight: rgba(255,255,255,0.0);
$navbarHeight: 30px;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarText: #3C566D;
$navbarBrandColor: $navbarText;
$navbarLinkColor: $navbarText;
$navbarLinkColorHover: $navbarText;
$navbarLinkBackgroundHover: rgba(255,255,255,0.2);
$bodyBackground: rgba(1,1,1,0.0);

$btnPrimaryBackground: #A4B8CA;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 10%);
@import "bootstrap";
@import "bootstrap-responsive";

@media (min-width: 980px) {
  body { padding-top: 60px; }
}

html {
  background-image: url(image-path('linen.png'));
}

.navbar .nav > li a {
  border-top: 1px solid #E4EBF1;
  border-right: 1px solid #DCE5EC;
  border-bottom: 1px solid #8C9DAE;
  border-right: 1px solid #DCE6EC;

  background-color: rgba(255,255,255,0.1);

  @include box-shadow(0 0px 0px 1px #94AEC4);
  text-shadow: 0 1px 1px white;

  &:active {
    // @include box-shadow(inset 0px 1px 0px 2px rgba(0,0,0,0.2));
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

}
.navbar {
  .brand {
    text-shadow: 0 1px 1px white;
  }
  .navbar-inner {
    // @include box-shadow(0 1px 0px 1px #1x
    -webkit-box-shadow: 0 1px 0px #C3D1DE;
    border-top: 1px solid #D2DDE6;
    border-bottom:1px solid #9FB1C1;
    // border-bottom:1px solid #C3D1DE;
    //, 0 2px 0 1px #C3D1DE);
  }
}

.panel {
  background-color: white;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  @include border-radius(3px);
  @include box-shadow(0 1px 4px 1px hsla(0, 0%, 0%, 0.4));
  
  .content {
    padding: 1em;
  }
  
  header {
    background-color: rgba(228,228,228,0.7);
    padding: 1em;
    border-bottom: 1px solid #D6D6D6;
  }

}

.btn {
  @include border-radius(3px);
}




