@import 'bourbon';
@import 'font-awesome';


$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$sansFontFamily: $lucida-grande;
$baseFontSize: 13px;

$navbarBackground: rgba(255,255,255,0.0);
$navbarBackgroundHighlight: rgba(255,255,255,0.0);
$navbarHeight: 80px;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarText: #3C566D;
$navbarFontSize: 1.25em;
$navbarHover: #faa630;
$navbarBrandColor: $navbarText;
$navbarLinkColor: $navbarText;
$navbarLinkColorHover: $navbarHover;
$navbarLinkBackgroundHover: rgba(255,255,255,0.5);
$bodyBackground: rgba(1,1,1,0.0);

$btnPrimaryBackground: #A4B8CA;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 10%);
@import "bootstrap";
@import "bootstrap-responsive";
@import "navbar";
@import "chosen.css.scss";
//@import "datatables";
@import 'dataTables/jquery.dataTables.bootstrap';
//@import "redmond/css/jquery-ui-1.10.1.custom.min.css.scss";

@media (min-width: 980px) {
}

.container.forms {

  margin-top:20px;
}

.alert {
  margin-left: 320px;
  width: 650px;
}

.visit {
  text-align: center;
}

#visit-date {
  text-align: center;

}
.panel {
  background-color: white;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  @include border-radius(3px);
  @include box-shadow(0 1px 4px 1px hsla(0, 0%, 0%, 0.4));
  
  .content {
    padding: 2em;
  }

.actions {
  text-align: center;
}

#visit-color {
  background-color: #d4ffaa;
}

.submit-visit {
  text-align: center;
  }

#submit-neighbor {
    text-align: center;
  }


  header {
    background-color: rgba(228,228,228,0.7);
    padding: 1em;
    border-bottom: 1px solid #D6D6D6;
  }

}
#mhead {
  float: right;
  margin-top: -30px;
}

#neighbor-color {
  background-color:  #dfeffc;
  padding-top: 10px;
}
#vols {
  background-color: #dfeffc;
}

#box {
  float: left;
  margin-top: -25px;
  margin-right: 45px;
}

//
//.btn-group {
//  text-align: center;
//}

#donors {
  float: left;
  width: 20%;
  margin: 0px 175px 20px;
  select {
    font-size:  20px;
    height: 30px;
  }
  input {
    border:  8px;
    border-color: red;
    margin:  0px auto;
    height:  33px;
  }
  input.btn {
    color: red;
    font-size: 25px;
  }

}

#NewDonor {
  margin-left: 350px;
  margin-top: 100px;
}

#weight {
  float: left;
  width: 20%;
  margin: 0px 75px 20px;
  select {
    font-size:  20px;
    height: 30px;
  }
  input {
    border:  8px;
    border-color: red;
    margin:  0px auto;
    text-align: center;
    background-color: black;
    font-size: 50px;
    color: #ffff00;
    height:  60px;
  }
  input.btn {
  color: red;
  font-size: 25px;
  }
}

#scale_log {
  float: right;
  width: 325px;
  margin-top: -40px;

}



#weighin {
  border:  8px;
  border-color: red;
  margin:  0px auto;
  text-align: center;
  font-size: 50px;
  color: #ffff00;
  background-color: black;
  height:  60px;
}

tr.volunteer {
  font-size:  150%;
}
.btn {
  @include border-radius(3px);
}




