@import 'bourbon';
@import 'font-awesome';
@import 'visits';
@import 'datepicker';

$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$sansFontFamily: $lucida-grande;
$baseFontSize: 13px;

$navbarBackground: rgba(255,255,255,0.0);
$navbarBackgroundHighlight: rgba(255,255,255,0.0);
$navbarHeight: 80px;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarText: #3C566D;
$navbarFontSize: 1.25em;
$navbarHover: #faa630;
$navbarBrandColor: $navbarText;
$navbarLinkColor: $navbarText;
$navbarLinkColorHover: $navbarHover;
$navbarLinkBackgroundHover: rgba(255,255,255,0.5);
$bodyBackground: rgba(1,1,1,0.0);

$btnPrimaryBackground: #A4B8CA;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 10%);
@import "bootstrap";
@import "bootstrap-responsive";
@import "navbar";
@import "chosen.css.scss";


@media (min-width: 980px) {
}

html {
  //background-image: image_path('cream_pixels.png')
}

.container.forms {

  margin-top:20px;
}

.house-table {
  text-align: center;
    td:first-child {
    text-align: left;
  }
}

.table td {
   text-align: center;   
   .house {
    text-align: left;
   }
}




#housesearch {
  float: right;
    input[type="submit"] {
  vertical-align: top ;
  height: 29px;
  border-radius: 3px;
    }
}

#monthly {
  margin-top: -50px;
}


#neighborsearch {
  float: right;
  input[type="submit"] {
    vertical-align: top ;
    height: 29px;
    border-radius: 3px;
  }
}

#new-visit-head {
 margin-top: -20px;
 line-height: 20px;
}

header {
  background-color: #f5f5f5;
}
footer{
  text-align: center;
  margin-top: 10px;
}

#harvest_report {
  h2 {
  text-align: center;
  }
}

#harvest_month {
  vertical-align: bottom;
  text-align: center;
}

#msm_id {
  margin-top: 40px;
  margin-bottom: 40px;
}

#household_money_notes {
  margin-left: 5px;
}

.alert {
  margin-left: 320px;
  width: 650px;
}

.visit {
  text-align: center;
}

.visits {
  font-size: 1.5em;
}

.htable {
  font-size: 1.35em;
}

.nav-tabs {
  font-size: 20px;
}

.add_neighbor {
  margin-bottom: 10px;
}

.visit-color {
  text-align: center;
  background-color: #d4ffaa;
  }

#visit-date {
  text-align: center;

}

table#households {
  margin-top: 40px;
  margin-left: 20px;
  width: 850px;
}
.panel {
  background-color: white;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  @include border-radius(3px);
  @include box-shadow(0 1px 4px 1px hsla(0, 0%, 0%, 0.4));
  
  .content {
    padding: 2em;
  }

.actions {
  text-align: center;
}

#visit-color {
  background-color: #d4ffaa;
}

#home {
  position: relative;
  height: auto;
  min-height: 100%;
  overflow: visible;

}

#house_address {
  text-align: center;
}

#house_notes {
  //margin-left: 65px;
  padding-top: 0px;
  text-align: center;
  float: right;
}

.submit-visit {
  text-align: center;
  margin-bottom: 20px;
  }

#submit-neighbor {
    text-align: center;
  }

#submit-volunteer {
  text-align: center;
}


  header {
    background-color: #f5f5f5;
    //background-color: rgba(228,228,228,0.7);
    padding: 1em;
    border-bottom: 1px solid #D6D6D6;
  }

}


#mhead {
  padding-top: 5px;
  float: right;
  line-height: 5px;
  background-color:  #dfeffc;
  margin-top: -10px;
    h5 {
    line-height: 10px;
    }

}

#neighbor-color {
  background-color:  #dfeffc;
  padding-left: 107px;
  margin-bottom: 10px;
}

#neighbor-fields-color {
  background-color:  #dfeffc;
  padding-left: 65px;
  margin-bottom: 10px;

}

.neighbor-color {
   background-color:  #dfeffc;
}

.money-color {
  background-color: #a1e7a1
}
#vols {
  background-color: #dfeffc;
  height: 565px;
}

#box {
  float: left;
  margin-top: -25px;
  margin-right: 45px;
}

//
//.btn-group {
//  text-align: center;
//}


#sign-in {
  //text-align: center;
  background-image: url('Onecandomore.png');
  background-repeat: no-repeat;
  background-position: 55% -250%;
  height: 550px;
    .form-actions{
      width: 75px;
      background-color: transparent;
    }
}

#reminder {
  margin-left: -25px;
  background-color: #f68b8b;
  margin-top: 5px;
}

#donors {
  float: left;
  width: 20%;
  margin: 0px 175px 20px;
  select {
    font-size:  20px;
    height: 30px;
  }
  input {
    border:  8px;
    border-color: red;
    margin:  0px auto;
    height:  33px;
  }
  input.btn {
    color: red;
    font-size: 25px;
  }

}

#NewDonor {
  margin-left: 350px;
  margin-top: 100px;
}

#weight {
  float: left;
  width: 20%;
  margin: 0px 75px 20px;
  select {
    font-size:  20px;
    height: 30px;
  }
  input {
    border:  8px;
    border-color: red;
    margin:  0px auto;
    text-align: center;
    background-color: black;
    font-size: 50px;
    color: #ffff00;
    height:  60px;
  }
  input.btn {
  color: red;
  font-size: 25px;
  }
}

#scale_log {
  float: right;
  width: 325px;
  margin-top: -40px;

}



#weighin {
  border:  8px;
  border-color: red;
  margin:  0px auto;
  text-align: center;
  font-size: 50px;
  color: #ffff00;
  background-color: black;
  height:  60px;
}

tr.volunteer {
  font-size:  150%;
}
.btn {
  @include border-radius(3px);
}




