@import "bourbon";
@import "font-awesome";

$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$sansFontFamily: $lucida-grande;
$baseFontSize: 13px;

$navbarBackground: rgba(255,255,255,0.0);
$navbarBackgroundHighlight: rgba(255,255,255,0.0);
$navbarHeight: 80px;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarText: #3C566D;
$navbarBrandColor: $navbarText;
$navbarLinkColor: $navbarText;
$navbarLinkColorHover: $navbarText;
$navbarLinkBackgroundHover: rgba(255,255,255,0.2);
$bodyBackground: rgba(1,1,1,0.0);

$btnPrimaryBackground: #A4B8CA;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 10%);
@import "bootstrap";
@import "bootstrap-responsive";
@import "navbar";

@media (min-width: 980px) {
}

.container.forms {

  margin-top:20px;
}
.panel {
  background-color: white;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  @include border-radius(3px);
  @include box-shadow(0 1px 4px 1px hsla(0, 0%, 0%, 0.4));
  
  .content {
    padding: 2em;
  }
  
  header {
    background-color: rgba(228,228,228,0.7);
    padding: 1em;
    border-bottom: 1px solid #D6D6D6;
  }

}

tr.volunteer {
  font-size:  150%;
}
.btn {
  @include border-radius(3px);
}




